{% load static %}


<title>Excel example</title>
<style type="text/css">
	@font-face{
	  font-family: Lato-Thin;
	  src: url("{% static 'fonts/Lato-Thin.ttf' %}");
	}
	@font-face{
	  font-family: Lato-Light;
	  src: url("{% static 'fonts/Lato-Light.ttf' %}");
	}
	@font-face{
	  font-family: Lato-Regular;
	  src: url("{% static 'fonts/Lato-Regular.ttf' %}");
	}

	html, body{margin: 0;padding: 0;}
	.container{
		background-color: #4A4C55;
		height: 100%; width: 100%;
	}
	.first-block{padding: 50px 20%;}
		.info-block{width: 50%;display: inline-block;}
		.info-block > p{font-family: Lato-Light;}
			.logo{
				text-transform: uppercase;
				font-weight: 800;
				font-size: 31px;
				color: white;
				margin-bottom: 0;
			}
			.subname{
				margin-top: 0;
				font-size: 14px;
				color: #969DAF;
			}
		.upload-file{width: 45%;display: inline-block;text-align: right;
			vertical-align: top;margin-top: 60px;}

		.css-upload-input {
			display: inline-block;
			position: relative;
			overflow: hidden;
			width: 35px;
			height: 19px;
			background: #778DA0;
			padding: 8px 4px;
			color: #DDD;
			text-align: center;
			font-family: Lato-Regular;
			text-transform: uppercase;}
		.css-upload-input:hover {background: #7aad55;}
		.css-upload-input input[type="file"]{display: none;}
		.css-upload-input label {
			display: block;
			position: absolute;
			padding-top: 7px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;}
		.css-upload-input span {line-height: 36px;font-size: 20px;}
		.filename {
			border: 0;
			height: 35px;
			vertical-align: top;
			width: 50%;
			padding-left: 10px;}
		.form-submit-button{
			background: #778DA0;
			border: 0;
			color: #DDD;
			padding: 6px 15px 7px 15px;
			font-size: 20px;
			vertical-align: top;
		}
		.form-submit-button:hover{cursor: pointer;background: #7aad55;}
		.form-submit-button > i{margin-top: 7px;}


	.twice-block{
		position: absolute;
		top: 250px;bottom: 0;left: 0;right: 0;
		background-color: white;
		min-height: 300px;
		padding: 20px 20%;
	}
		.loader-list{text-align: center;}
		.loader-list > *{display: inline-block;vertical-align: top;color: #555;}
		.loader-list > p{font-family: Lato-Regular;font-size: 14px;margin: 3px 5px;
			text-transform: uppercase;}


		.element-record > *{
			display: inline-block;
			font-family: Lato-Light;
			font-size: 16px;
		}
	
	.error-container{
		position: absolute;
		background-color: #EEE;
		margin-left: -20%;
		left: 50%;
		width: 40%;
		z-index: 100;
		box-shadow: 0 0 150px #000;
	}
	.error-first-div{
		color: red;
		padding: 20px 10px;
	}
	.error-twice-div{
		font-family: Lato-Light;
		word-spacing: 5px;
		padding-left: 10px;
	}
	.error-twice-div > p{margin-top: 25px;}


	.column-1 {width: 70%;float: left;min-height: 100%;}
	.column-2 {width: 15%;min-height: 100%;float: left;text-align: center;}
	.column-3 {width: 15%;min-height: 100%;float: left;text-align: center;}
</style>





<div class="error-container" style="display: none;">
	<div class="column-2 error-first-div">
		<i class="fa fa-exclamation-triangle fa-3x"></i>
	</div>
	<div class="column-1 error-twice-div">
		<p></p>
	</div>
</div>



<div class="container">
	<div class="first-block">

		<div class="info-block">
			<p class="logo">Excel example</p>
			<p class="subname">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit rerum unde dolore mollitia officia! Optio amet rerum.</p>
		</div>
		<div class="upload-file">
			<form method="POST" action="/">{% csrf_token %}
				<input type="text" id="filename" class="filename" placeholder="Upload file" disabled>
				<div class="css-upload-input">
					<label>
						<input type="file" name="upload_excel_file" id="upload_excel_file" accept=".xls">
						<span><i class="fa fa-file-excel-o"></i></span>
					</label>
				</div>
				<a class="form-submit-button"><i class="fa fa-angle-right"></i></a>
			</form>
		</div>

	</div>

	<div class="twice-block">
		<div class="loader-list" style="display: none;" id="loader-list">
			<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
			<p>loads list goods</p>
		</div>
		<div class="goods-container"></div>
	</div>
</div>






<script src="{% static 'jQuery-3.2.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
<script type="text/javascript">
$(document).ready( function() {
	//alert(CheckRegString('vdsbsds+_esg35'));
	//ViewError('Hello');
    $('.css-upload-input input:file').change(function() {
         var filename = $(this).val().replace(/.*\\/, "");
         $('#filename').val(filename);
    });

    $('.form-submit-button').click(function() {
		var xmlhttp = new XMLHttpRequest();
		var data = new FormData();
    	var input = document.getElementById('upload_excel_file');

		if (!input.files) {
			ViewError("This browser doesn't seem to support the `files` property of file inputs.");
		} else if (!input.files[0]) {
			ViewError("Please select a file before clicking 'Load'");
		} else {
			var csrf = encodeURIComponent(document.getElementsByName("csrfmiddlewaretoken")[0].value);
			data.append('csrfmiddlewaretoken', csrf);
			data.append('upload_excel_file', input.files[0]);
			//alert(CheckRegString(input.files[0].name));
			if (CheckRegString(input.files[0].name)){
				ViewError('The file name must consist of Latin characters. In the title "'+ input.files[0].name +'" there are symbols of Russian Latin');
				return;
			}

			$('.goods-container').html('');
			$('.loader-list').css({display:'block',});

			xmlhttp.open('POST', '/', true);
			xmlhttp.send(data);
			xmlhttp.onreadystatechange = function(){
	    		if (xmlhttp.readyState != 4) return;
				if ((xmlhttp.readyState == 4) && (xmlhttp.status == 200)){
					var response = JSON.parse(xmlhttp.responseText);
					$('.loader-list').css({display:'none',});


					for (record in response){
						//console.log(response[record]);
						var html_content = '<div class="element-record">\
							<div class="column-1"><p class="record-name">'+ response[record][0] +'</p></div>\
							<div class="column-2"><p class="record-amount">'+ response[record][3] +'</p></div>\
							<div class="column-3"><p class="record-price">'+ response[record][5] +'</p></div>\
							</div>';
						$('.goods-container').append(html_content);
					}
				}
			};
		}
    })
});

function CheckRegString(string) {
	var re = /[а-яА-Я]/i;
	if (string.search(re) != -1) return true;
	else return false;
}


function ViewError(string_error) {
	$('.error-container').css({
		display: 'block',
	});
	$('.error-twice-div > p').text(string_error);
	setTimeout(function() {
		$('.error-container').css({
			display: 'none',
		});
	}, 5*1000);
}
</script>